@property --rotation {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

.projects {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	&::before {
		content: '';
		position: absolute;
		inset: 5rem;
		border: solid 3rem transparent;
		border-radius: 6rem;
		background:
			linear-gradient(var(--bg-primary)) padding-box,
			linear-gradient(var(--rotation), var(--primary), var(--secondary))
				border-box;

		animation: rotate 3s linear infinite;
	}

	> * {
		background-color: var(--card-bg);
		box-shadow: var(--shadow-md);

		border: 1px solid var(--border-color);
		border-radius: var(--radius-md);

		transition: all var(--transition-base);
		will-change: transform, translate, box-shadow;

		width: 80%;
		&:nth-child(even) {
			--direction: -1;
			align-self: flex-end;
		}

		animation: translate-side ease-in 1ms forwards;
		animation-timeline: view(y 0);

		@include breakpoint-range($to: md) {
			width: 100%;
			align-self: unset !important;
		}

		@include hover {
			box-shadow: var(--shadow-lg);
			border-color: var(--primary);
			@include bubble-up;
		}
	}
}

@keyframes rotate {
	from {
		--rotation: 0turn;
	}
	to {
		--rotation: 1turn;
	}
}
@keyframes translate-side {
	50% {
		translate: 0;
	}
	to {
		translate: calc(var(--direction, 1) * 100%) 0;
	}
}

@mixin tag {
	font-size: 0.75rem;
	padding: 0.25rem 0.75rem;
	border-radius: var(--radius-full);
}

.image {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	overflow: hidden;

	> span {
		position: absolute;
		top: 1rem;
		right: 1rem;

		font-weight: 500;
		background-color: var(--primary);
		color: var(--white);
		@include tag;
	}
}

.content {
	padding: 1.5rem;

	> h3 {
		font-size: 1.75rem;
		font-weight: 600;
		line-height: 1.8;
	}

	> p {
		font-size: 1.25rem;
		color: var(--text-secondary);
	}

	> a {
		width: fit-content;
		font-weight: 500;
		color: var(--primary);

		display: flex;
		align-items: center;
		gap: 0.5rem;

		@include hover {
			color: var(--primary-700);
		}
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-block: 1.5rem;

	> * {
		background-color: var(--bg-tertiary);
		@include tag;
	}
}
