.btn {
	width: 2.5rem;
	height: 2.5rem;
	transition: transform var(--transition-fast);
	will-change: transform;

	> svg {
		stroke: currentColor;
		stroke-width: 3;

		width: 100%;
		height: 100%;
		border-radius: 50%;

		transition: transform var(--transition-base);
		will-change: transform;

		> path {
			will-change: stroke-dasharray, stroke-dashoffset;
			transition:
				stroke-dasharray var(--transition-base),
				stroke-dashoffset var(--transition-base);

			&:nth-child(1) {
				stroke-dasharray: 12 63;
			}
		}
	}

	&.active {
		> svg {
			transform: rotate(-45deg);

			> path:nth-child(1) {
				stroke-dasharray: 20 300;
				stroke-dashoffset: -32.42;
			}
		}
	}

	@include hover {
		transform: scale(1.1);
	}
	&:active {
		transform: scale(0.9);
	}
}
