.hero {
	padding-block: 6rem;
	min-height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
}

.content {
	font-size: 2rem;

	> h1 {
		font-size: 2.25em;
		line-height: 1.2;
		font-weight: 800;
		margin-bottom: 0.5em;

		background: linear-gradient(
			135deg,
			var(--primary) 0%,
			var(--secondary) 100%
		);
		background-clip: text;
		color: transparent;
	}

	> p {
		color: var(--text-secondary);
	}

	@include breakpoint-range($to: lg) {
		font-size: 1.25rem;
	}

	@include breakpoint-range($to: sm) {
		font-size: 1rem;
	}
}

.presentation {
	display: flex;
	align-items: center;
	gap: 1rem;

	@include breakpoint-range($to: md) {
		font-size: 0.75rem;
	}
	@include breakpoint-range($to: sm) {
		font-size: 0.6rem;
	}
}

.breadcrumb {
	--padding: 1rem;
	color: var(--white);

	line-height: 2;
	font-size: 2em;
	font-weight: 600;
	padding-bottom: 0.2em;
	z-index: 1;

	padding-inline: calc(var(--padding) + 1em) 1em;
	background: linear-gradient(135deg, var(--primary), var(--secondary) 300%);
	clip-path: polygon(
		0 0,
		calc(100% - var(--padding)) 0,
		100% 50%,
		calc(100% - var(--padding)) 100%,
		0 100%,
		var(--padding) 50%
	);

	@include unselectable;
	@include breakpoint-range($to: sm) {
		display: none;
	}
}

.image {
	width: 20em;
	height: 20em;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	clip-path: polygon(
		125% 50%,
		90% 80%,
		73% 122%,
		30% 96%,
		-10% 94%,
		0% 50%,
		-10% 6%,
		32% 3%,
		73% -22%,
		90% 20%
	);

	> * {
		width: 100%;
		height: 100%;
		border-radius: var(--radius-full);
	}

	> img {
		object-fit: contain;
		border: 0.5rem solid var(--card-bg);
		box-shadow: var(--shadow-lg);
		z-index: 1;
		transition: all var(--transition-base);
	}
}

.shape {
	position: absolute;
	background: linear-gradient(135deg, var(--primary), var(--secondary));

	will-change: transform;
	animation: appear-shape 2s ease-out infinite alternate;
}

@keyframes appear-shape {
	to {
		transform: scale(1.45);
	}
}
