.hero {
	padding-block: 6rem;
	min-height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
}

.content {
	font-size: 2rem;

	> h1 {
		font-size: 2.25em;
		line-height: 1.2;
		font-weight: 800;
		margin-bottom: 0.5em;

		background: linear-gradient(
			135deg,
			var(--primary) 0%,
			var(--secondary) 100%
		);
		background-clip: text;
		color: transparent;
	}

	> p {
		color: var(--text-secondary);
	}

	@include breakpoint-range($to: lg) {
		font-size: 1.25rem;
	}

	@include breakpoint-range($to: sm) {
		font-size: 1rem;
	}
}

.presentation {
	display: flex;
	align-items: center;
	gap: 5rem;

	@include breakpoint-range($to: md) {
		font-size: 0.75rem;
	}
	@include breakpoint-range($to: sm) {
		font-size: 0.6rem;
	}
}
.speech {
	padding: 0.75em;
	color: var(--white);
	font-size: 2em;
	font-weight: 600;
	background: linear-gradient(150deg, var(--primary), var(--secondary) 400%);
	border-radius: var(--radius-full);
	will-change: transform;
	z-index: 1;
	position: relative;

	animation: disappear ease-in 1ms;
	animation-timeline: view(y 0 50%);

	&::before {
		content: '';
		position: absolute;
		left: 110%;
		top: 30%;
		width: 20%;
		aspect-ratio: 1;
		border-radius: var(--radius-full);
		background: linear-gradient(135deg, var(--primary), var(--secondary) 300%);
	}

	@include unselectable;
	@include breakpoint-range($to: sm) {
		display: none;
	}
}

@keyframes disappear {
	to {
		transform: scale(0.5);
	}
}

.image {
	width: 20em;
	height: 20em;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	clip-path: polygon(
		125% 50%,
		90% 80%,
		73% 122%,
		30% 96%,
		-10% 94%,
		0% 50%,
		-10% 6%,
		32% 3%,
		73% -22%,
		90% 20%
	);

	> * {
		width: 100%;
		height: 100%;
		border-radius: var(--radius-full);
	}

	> img {
		object-fit: contain;
		border: 0.5rem solid var(--card-bg);
		box-shadow: var(--shadow-lg);
		z-index: 1;
		transition: all var(--transition-base);
	}
}

.shape {
	position: absolute;
	background: linear-gradient(135deg, var(--primary), var(--secondary));

	will-change: transform;
	animation: appear-shape 5s cubic-bezier(0.8, 0, 0.2, 1) infinite alternate;
}

@keyframes appear-shape {
	to {
		transform: scale(1.45);
	}
}
