.container {
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;

	padding-inline: 2rem;

	@include breakpoint-range($to: md) {
		padding-inline: 1.5rem;
	}

	@include breakpoint-range($to: sm) {
		padding-inline: 1rem;
	}
}
