.logo {
	font-size: 1.75rem;
	font-weight: 700;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	transition: color var(--transition-fast);
	margin-right: auto;
	color: var(--primary);

	@include hover {
		color: var(--primary-700);
	}
}
