.header {
	background-color: var(--header-bg);
	backdrop-filter: blur(0.5rem);
	box-shadow: var(--shadow-sm);

	position: fixed;
	width: 100%;
	top: 0;

	border-bottom: 1px solid var(--border-color);
	border-radius: 0 0 var(--radius-lg) var(--radius-lg);

	z-index: 10;
	transition: all var(--transition-base);

	nav {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
		gap: 1rem;

		padding: 1.25rem 0;

		@include breakpoint-range($to: md) {
			grid-template-columns: 1fr auto;
			padding: 1rem 0;
		}
	}

	@include unselectable;
}

.dropdown,
.hamburger {
	margin-left: auto;
}

.hamburger,
.mobileContainer {
	@include breakpoint-range($from: md) {
		display: none;
	}
}

.navbar,
.dropdown:not(.mobileDropdown) {
	@include breakpoint-range($to: md) {
		display: none;
	}
}

.mobileContainer {
	border-top: 1px solid var(--border-color);
	padding-block: 1rem;

	display: flex;
	justify-content: space-between;
	gap: 0.5rem;

	animation: slide-from-sides var(--transition-base);
	will-change: transform;
}

@keyframes slide-from-sides {
	from {
		opacity: 0;
		transform: scaleX(2);
	}
}

.mobileNavbar {
	flex-direction: column;
	align-items: start;
	gap: 0;

	li {
		width: 100%;
	}
	a {
		font-size: 1.2rem;
		padding: 1rem;
	}
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contacts {
	flex-direction: column;
}
