@mixin active-item {
	color: var(--primary);

	&::after {
		width: 100%;
	}
}

.navbar {
	gap: 2.5rem;
	font-weight: 500;

	> li {
		color: var(--text-secondary);

		@include hover {
			@include active-item;
		}
	}

	a {
		position: relative;
		padding-block: 0.5rem;
		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			background: var(--primary);
			left: 0;
			bottom: 0;
			transition: width var(--transition-base);
		}
	}
}

@supports (scroll-target-group: auto) {
	.navbar {
		scroll-target-group: auto;

		a:target-current {
			@include active-item;
		}
	}
}
