// Footer use dark theme only

.footer {
	margin-top: 4rem;
	border-radius: var(--radius-lg) var(--radius-lg) 0 0;

	background-color: var(--dark-bg-secondary);
	color: var(--dark-text-primary);

	display: flex;
	flex-direction: column;

	> * {
		padding-block: 2rem;

		&:not(:last-child) {
			border-bottom: 1px solid var(--dark-border);
		}
	}

	a,
	p {
		color: var(--dark-text-tertiary);
	}
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.links a {
	@include hover {
		color: var(--dark-text-primary);
	}
}

a.logo {
	color: var(--dark-text-primary);
}

.copyright {
	font-size: 0.9rem;
}

// Mobile footer

.content {
	@include breakpoint-range($to: sm) {
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
	}
}
.links {
	@include breakpoint-range($to: sm) {
		flex-direction: column;
		gap: 1rem;
	}
}
